[Desktop Entry]
Name=QSerialTerminal
Version=1.0
GenericName=QSerialTerminal
Comment=Communicate with serial devices
Exec=QSerialTerminal
Icon=QSerialTerminal.png
Terminal=false
Type=Application
Categories=Development;
